.container{
    height: 700px;
    width: 700px;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: nowrap;
}

.container .box1{
    height: 150px;
    width: 150px;
    border: 2px solid black;
    background-color: red;
}

.container .box2{
    height: 150px;
    width: 150px;
    border: 2px solid black;
    background-color:blue;
}

.container .box3{
    height: 150px;
    width: 150px;
    border: 2px solid black;
    background-color: green;
}

.container .box4{
    height: 150px;
    width: 150px;
    border: 2px solid black;
    background-color: yellow;
}